.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    // padding: 20px;
    h2 {
        margin: 10px 0;
    }

    @media screen and (max-width: 800px) {
        margin-bottom: 50px;
        width: 100%;
        padding: 0;

    }

}