.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;
  @media screen and (max-width: 800px) {
    
    max-width: 80vw;
    flex-direction: column;
  }
}